<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css">
        body {
          color: #00704A;
          background-color: blanchedalmond;
          text-align: center;
        }
        ul {
            list-style: none;
        }
    </style>
</head>
<!-- <body>
    <h1>See All The Plants!</h1>
    
    <nav>
        <a href="/plant">Home</a> 
    </nav>

    <h2><%=plant.name%></h2>

    <h2><%=plant.scientific%></h2>

    <h2><%=plant.propagation%></h2>
</body> -->
<body>
    <h1>Plant Show Page</h1>

    <h2>This is the show page for <%= plant.name %></h2>

   <p>The scientific name for <%= plant.name %> is <%= plant.scientific %></p>

   <p>It was propagated by <%= plant.propagation %></p>

   

    <a href="/plant">Home</a>
  </body>
</html>